boltz2/.DS_Store
.DS_Store
*.log
*.out
*.err
*.sif
alphafold2/rocm6.2.4_proteinfold/testing/multimer_output/*
alphafold2/rocm6.2.4_proteinfold/testing/monomerPTM_output/*
alphafold2/rocm6.2.4_proteinfold/testing/output*
tiberius/v2.0.6/vendor/